{% extends "base.html" %}

{% block content %}
  <div class="container fix starter-template">
    <div class="row row-centered">
      <div class="col-sm-12 col-centered">
        <h1 class="lead">This is a Prototype for the Stanford Law School Copyright Practicum</h1>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-sm-12 col-centered">
        <p>This website provides a simple demonstration of a digital photo license exchange. Money should not be exchanged through the prototype website. The licenses provided by the website are not in any sense actual or binding. Please do not submit actual credit card information through this prototype site. Any information submitted should be considered insecure and is not recommended.</p>
        <p>Please contact <a href="mailto:chrisyeh@stanford.edu">Chris</a> for information about how to submit a mock “purchase” of a photograph, or with any questions.</p>
        <p>This prototype is for demonstration purposes only.</p>
      </div>
    </div>
  </div>
{% endblock %}