<!DOCTYPE html>
<html>
<head>
  <!-- Meta Data -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Title -->
  <title>License Exchange</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/static/css/starter.css">

  <!-- Scripts needed for layout -->
  <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>

  {% block css %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">License Exchange</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/create">Create a License</a></li>
          <li><a href="/login">Sign In</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% block navbar %}{% endblock %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <!-- Scripts -->
  <!-- load at end to increase responsiveness -->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  {% block scripts %}{% endblock %}

</body>
</html>