extends ./header.jade
block content
   .container.starter-template
      if success
         p.lead Success! #{justification}
      else
         p.lead The attempt to charge you failed. #{justification}
      if download
         img#image(src="#{url}")
         br
         a.btn.btn-primary(href="#{url}", download="licensedImage.jpg") Download Image
         p (If the button does not begin a download, right-click the full image above to download and save it.)
