{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/forms.css">
{% endblock %}

{% block content %}
<div class="container starter-template">
  <p class="lead">Create a License</p>

  {% if not token %}
    <p>Please connect your Stripe account to procede with creating a license.</p>
    <p><a href="https://connect.stripe.com/oauth/authorize?response_type=code&amp;client_id=ca_6MnivEyxNIcx1cNuyoGHc7u1dRcNevgW&amp;scope=read_write">
      <img src="/static/images/stripe.png">
    </a>
    </p>
    <div id="create-form-wrapper" class="blur">
  {% else %}
    <div id="create-form-wrapper">
    <p>You've authenticated via Stripe Connect as {{stripe_id}}. You can create a license below:</p>
  {% endif %}

    <form id="licenseInfo" class="well dropzone" enctype="multipart/form-data" action="/register" method="POST">

      <!-- Upload Image -->
      <div class="form-group">
        <label>Image File</label><br>

        <!-- Drop Zone with Preview -->
        <div id="dropzoneWrapper">
          <div id="dropzone">
            <img id="dropzonePreviewImg" class="hidden" src="" alt="">
            <div id="dropzoneDetails" class="hidden">
              <span id="dropzoneName"></span>
              <span id="dropzoneSize"></span>
            </div>
            <div id="dropzoneOverlayMessage">
              <!--[if !IE]> -->
              Drag image here or <br>
              <!-- <![endif]-->
              Click to select an image
            </div>
          </div>
          <input id="fileInput" name="imageFile" type="file" accept="image/jpeg, image/png, image/gif" required>
        </div>
      </div>

      {% for section in licensing_protocol.sections %}
        {% if section.title %}<h3>{{ section.title }}</h3>{% endif %}
        {% for question in section.questions %}
          <div id="{{ question.name }}-wrapper">
            {% if question.title %}<h4 id="{{ question.name }}">{{ question.title }}</h4>{% endif %}
            {% if question.subtitle %}<h5>{{ question.subtitle }}</h5>{% endif %}
            {% if question.type == "check" %}
              {% for option in question.options %}
                <div class="checkbox">
                  <label>
                    <input id="{{ question.name }}" type="checkbox" name="{{ question.name }}" value="{{ option.value }}">
                    {{ option.text }}
                  </label>
                </div>
              {% endfor %}
            {% elif question.type == "radio" %}
                {% for option in question.options %}
                  <div class="radio">
                    <label>
                      <input id="{{ question.name }}" type="radio" name="{{ question.name }}" value="{{ option.value }}">
                      {{ option.text }}
                    </label>
                  </div>
                {% endfor %}
            {% elif question.type == "text" %}
              <input type="text" class="form-control" placeholder="{{ question.placeholder }}" name="{{ question.name }}">
            {% elif question.type == "table" %}
              <table class="table">
                <tr>
                  <th></th>
                  {% for col in question.cols %}
                    <th data-toggle="tooltip" data-placement="{{ col.tooltipPlacement }}" title="{{ col.tooltipText }}">{{ col.text }}</th>
                  {% endfor %}
                </tr>
                {% for row in question.rows %}
                  <tr>
                    <th data-toggle="tooltip" data-placement="{{ row.tooltipPlacement }}" title="{{ row.tooltipText }}">{{ row.text }}</th>
                    {% for col in question.cols %}
                      <td>
                        <div class="input-group">
                          <span class="input-group-addon">$</span>
                          <input type="number" class="form-control" name="price{{ row.name }}{{ col.name }}" step="0.01" min="0">
                        </div>
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </table>
            {% endif %}
          </div>
        {% endfor %}
      {% endfor %}

      <!-- Stripe -->
      <input type="hidden" value="{{ stripe_id }}" name="stripe_id">

      <p>By clicking on the submit button below, you agree to the <span id="toggleTerms" class="bold">mandatory terms of use</span>.</p>

      <ol class="terms-list">
        <li>This platform allows photographers to license their photos to customers directly. All rights granted under the license are worldwide, perpetual, non-exclusive, non-transferrable and non-sublicensable.</li>
        <li>This platform provides other licensing terms, which shall be agreed upon and complied by both sides of the license.</li>
        <li>Customers are allowed to reproduce, distribute and display licensed photos, but not to use them in any way that enables third parties to download, extract or access photos as standalone files.</li>
        <li>Customers are allowed to edit photos only if and at the extent indicated by photographers.</li>
        <li>Customers shall attribute only if photographers require it and shall respect photographers’ desired form of attribution, regardless of the edit rights customers may have been granted with.</li>
        <li>Customers shall not remove metadata, if any, included in photos.</li>
        <li>Customers shall select their type of user in good faith and respect the type of use they get a license for.</li>
        <li>Customers shall not use photos or their context to depict the model, if any, in a sensitive, unflattering or controversial way.</li>
        <li>Photographers shall declare that they are legally entitled to upload the photo to this platform and to grant licenses for it, and that any and all third parties’ interests have been cleared (e.g., model release, co-owner, publicity rights).</li>
        <li>Photographers or customers that provide false or incorrect information on this platform may be legally responsible for those inaccuracies. They agree to indemnify the platform from any and all claims, obligations or costs arising from such conduct.</li>
      </ol>

      <button type="submit" class="btn btn-default" id="submit-btn">Submit</button>

    </form>

    <p class="more"></p>
  </div>

</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="../static/js/upload.js"></script>
  <script type="text/javascript" src="../static/js/licensing-protocol.js"></script>
{% endblock %}