{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block content %}
<form id="searchForm" action="/search" method="post" name="search">
  <div class="input-group">
    <input name="searchText" type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
<div id="attribution">
  Photo by <a href="https://flic.kr/p/pfSAKL">Mr. Nixter</a>
</div>
{% endblock %}