{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css">
{% endblock %}

{% block content %}
<div class="container starter-template">
  <p class="lead">License This Image For Use on a Blog or for an Event</p>
  
  <form id="purchaseForm" action="/charge" method="POST" class="well">
    <!-- Hidden Fields -->
    <input type="hidden" value="{{license.id}}" name="licenseId">
    <input id="tokenId" type="hidden" value="" name="tokenId">
    <input id="stripeEmail" type="hidden" value="" name="stripeEmail">

    <!-- Pre-filled Fields -->
    <div class="form-group">
      <img id="preview" src="{{image.url_thumb}}" class="img-responsive">
    </div>
    <div class="form-group">
      <label>Description</label>
      <p class="form-control-static">{{image.description}}</p>
    </div>
    <div class="form-group">
      <label>Date Uploaded</label>
      <p class="form-control-static">{{image.date_uploaded}}</p>
    </div>
    <div class="form-group">
      <label>Creator ID</label>
      <p class="form-control-static">{{image.creator_id}}</p>
    </div>
    <div class="form-group">
      <label>Attribution</label>
      <p class="form-control-static">If you use this image, you must give attribution to its owner.</p>
    </div>

    <!-- Commercial -->
    <div class="form-group">
      <label>Commercial Use</label>
      {% if license.allow_commercial %}
      <div class="radio">
        <label>
          <input type="radio" class="payment-input" name="is_commercial" value="False" checked>
          I will only use the photo for non-commercial purposes.
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="payment-input" name="is_commercial" value="True" data-cents="{{license.price_commercial}}">
          I will use the photo for commercial purposes.
        </label>
      </div>
      {% else %}
      <p class="form-control-static">Only non-commercial use is allowed</p>
      {% endif %}
    </div>

    <!-- Derivative -->
    <div class="form-group">
      <label>Derivative Works and Modifications</label>
      {% if license.allow_derivative %}
      <div class="radio">
        <label>
          <input type="radio" class="payment-input" name="is_derivative" value="False" checked>
          I will not create derivative works or modify the original work in any way.
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="payment-input" name="is_derivative" value="True" data-cents="{{license.price_derivative}}">
          I will create derivative works or modify the original work.
        </label>
      </div>
      {% else %}
      <p class="form-control-static">No derivative works or modifications to the original work are allowed</p>
      {% endif %}
    </div>

    <!-- License Cost -->
    <div id="displayCostWrapper" class="form-group">
      <label>License Cost</label>
      <input type="hidden" id="price_base" data-cents="{{license.price_base}}">
      <p id="displayCost" class="form-control-static" data-cents="{{license.price_base}}">{{license.price_base}}</p>
    </div>
  </form>
  
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <button id="paymentButton" class="btn btn-default">Agree to Terms and Purchase</button>
  <script>
    var handler = StripeCheckout.configure({
      key: '{{api_key}}',
      token: function (token) {
        $('#tokenId').attr('value', token.id);
        $('#stripeEmail').attr('value', token.email);
        $('#purchaseForm').submit();
      }
    });
    $('#paymentButton').on('click', function (e) {
      handler.open({
        name: 'Purchase a License',
        amount: $('#displayCost').data('cents')
      });
      e.preventDefault();
    });
    $(window).on('popstate', function () {
      handler.close();
    });
  </script>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/paymentPage.js"></script>
{% endblock %}