{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/search.css">
{% endblock %}

{% block content %}
<div class="container starter-template">
  
  <form class="form-inline" id="searchForm" action="/search" method="get" name="search">
    <div class="form-group">
      <input name="searchText" type="text" class="form-control" placeholder="Keywords">
    </div>

    <div class="form-group filter-col">
      <label for="category" class="control-label">Category</label>
      <select name="category" class="form-control" id="category">
        <option value="-1">Any</option>
        <option value="1">Animals, Plants</option>
        <option value="2">Architecture</option>
        <option value="3">People and Portraits</option>
        <option value="4">Sports</option>
        <option value="5">Still Life</option>
        <option value="6">Street and Urban</option>
        <option value="7">Transportation</option>
        <option value="0">Other</option>
      </select>
    </div>

    <button class="btn btn-default" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </form>

  <nav>
    <ul class="pagination">
      <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        {% for page in pages %}
        <li><a href="#">{{ page }}</a></li>
        {% endfor %}
      </li>
      <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>
  <div class="masonry-wrapper">
    {% for image in images %}
    <a href="/purchase/{{image.id}}" class="masonry-image">
      <img src="{{image.url_thumb}}"/>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="./static/js/index.js"></script>
<script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
{% endblock %}