/************
 * DROPZONE *
 ************/

#dropzoneWrapper.active {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
}

#dropzoneWrapper.active #dropzone {
  text-align: center;
  padding: 10px;
  border: 5px dashed gray;
  border-radius: 10px;
  min-width: 200px;
  min-height: 200px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

#dropzoneWrapper.active #fileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid blue;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 10;
}

#dropzoneWrapper.active.drag-hover #dropzone,
#dropzoneWrapper.active:hover #dropzone {
  border: 5px dashed black;
}

#dropzoneWrapper.active #dropzonePreviewImg {
  max-width: 500px;
  max-height: 500px;
  box-sizing: border-box;
}

#dropzoneWrapper.active #dropzoneDetails span {
  background-color: gray;
  color: white;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 3px;
}

#dropzoneWrapper.active #dropzoneOverlayMessage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: gray;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  padding: 75px 0;
}

#dropzoneWrapper.active:hover #dropzoneOverlayMessage,
#dropzoneWrapper.active.drag-hover #dropzoneOverlayMessage {
  color: black;
}

#dropzoneWrapper.active.fileSelected #dropzoneOverlayMessage {
  display: none !important;
}

/****************
 * REST OF FORM *
 ****************/

.hidden {
  display: none;
}

#price-matrix th {
  min-width: 100px;
}

#price-matrix td {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}

#toggleTerms {
  cursor: pointer;
  text-decoration: underline;
}

/************************
 * Blur the create form *
 * if not connected to  *
 * Stripe account
 ************************/

#create-form-wrapper.blur {
  opacity: 0.5;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  color: transparent !important;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

#create-form-wrapper.blur h3,
#create-form-wrapper.blur p,
#create-form-wrapper.blur div
 {
  color: transparent !important;
}

#create-form-wrapper.blur .more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 50px 0; 
  
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, #cccccc);
}