html, body {
  height: 100%;
}

#content { 
  /* full-screen background */
  height: 100%;
  background-image: url(/static/images/el_capitan.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  
  /* enable absolute positioning of searchForm */
  position: relative;
}

#searchForm {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 400px;
  max-width: 80%;
}

#searchForm .input-group {
  background-color: white;
  box-shadow: 0 0 3px 10px white;
}

#searchBox {
  font: 18px "Segoe UI",Arial,Helvetica,sans-serif;
}

#attribution {
  background-color: white;
  position: absolute;
  bottom: 0;
  padding: 2px 5px;
}