body {
    background: #cccccc;
    padding-top: 50px; /* height of header */
    box-sizing: border-box;
    /* margin: 30px auto; */
    /* overflow-y: scroll; */
}

.margin-centering {
    margin: 0 auto;
    text-align:center;
}

.starter-template {
    padding: 40px 15px;
}

.container {
  margin: auto;
}

.col-centered{
    float: none;
}

.dataTables_filter input {
    font-weight: normal;
    color: rgba(0,0,0,0.65);
}

h1 {
  color: #262626;
}

p {
  color: #262626;
}

span.recipe {
    color: darkgray;
    padding-left: 1em;
}

.fix {
  max-width: 500px;
  margin: 30px auto;
}

h3 {
  color: #26262e;
}

.btn-flat {
  color: #e5ce9b;
  background-image: none;
  background: #570002;
  border-color: #570002;
  -webkit-box-shadow: none;
}

.btn-flat:hover {
  color: #e5ce9b;
  background-image: none;
  background: #610000;
  border-color: #610000;
  -webkit-box-shadow: none;
}

.btn-flat:active {
  color: #e5ce9b;
  outline: none;
}

.btn-flat:active:hover {
  color: #e5ce9b;
  outline: none;
}

.btn-flat:focus {
  color: #e5ce9b;
  outline: none;
}

ol.terms-list {
    list-style-type: lower-roman;
}


/* ---------- Image styles ---------- */
/* General image styles
 * max-width to ensure images don't overwhelm the screen
 * margin-bottom to add a vertical getter
 */
.masonry-image>img {
    max-width: 350px;
    margin-bottom: 10px;
}

/* Hover interaction
 * set opacity
 * add a shadow
 */
.masonry-image>img:hover {
    opacity: .75;
    box-shadow: 0px 0px 30px #000;
}
