body {
  background: #cccccc;
  padding-top: 50px; /* height of header */
  box-sizing: border-box;
}

.starter-template {
  padding: 40px 15px;
}

.container {
  margin: auto;
}

.col-centered{
  float: none;
}

h1 {
  color: #262626;
}

p {
  color: #262626;
}

.fix {
  max-width: 500px;
  margin: 30px auto;
}

h3 {
  color: #26262e;
}

.btn-flat {
  color: #e5ce9b;
  background-image: none;
  background: #570002;
  border-color: #570002;
  -webkit-box-shadow: none;
}

.btn-flat:hover {
  color: #e5ce9b;
  background-image: none;
  background: #610000;
  border-color: #610000;
  -webkit-box-shadow: none;
}

.btn-flat:active {
  color: #e5ce9b;
  outline: none;
}

.btn-flat:active:hover {
  color: #e5ce9b;
  outline: none;
}

.btn-flat:focus {
  color: #e5ce9b;
  outline: none;
}

ol.terms-list {
  list-style-type: lower-roman;
}

