extends ./header.jade

block content
  .container.fix.starter-template
    h3 Error 404
    p.
      Page not found. Please email
      <a href="mailto:suciu@cs.stanford.edu">Andrew</a> if you cannot find
      what you are looking for.