extends ./header.jade

block content
  .container.fix.starter-template
    .row.row-centered
      h1.lead.fix License Exchange Prototype from Stanford Law School
    .row.row-centered
      .col-sm-12.col-centered
        p.
          This website provides a simple demonstration of a digital photo license exchange. Money exchanged through
          the website is actually spent and cannot be returned. The licenses provided by the website are not in any
          sense actual or binding. Credit card information submitted through the site should also be considered insecure
          and is not recommended outside of demonstration purposes.
        p.
          Please email
          <a href="mailto:suciu@cs.stanford.edu">Andrew</a>
          if you have any difficulties or any questions.