extends ./header.jade
block content
    .container.starter-template
        p.lead Create a License
        if success
           p Success! The license is registered in our database.
        else
           p The license could not be registered because: #{justification}