extends ./header.jade

block content
  .container.starter-template
    p.lead Create a License
    p. The license is subject to the following mandatory terms of use:
    ol.terms-list
      li The image may be reproduced online only. No physical copy can be made.
      li There are no geographical limitations to the use of the license.
      li The license is non-exclusive, non-transferable, and non-sub-licensable.
      li The photographer must be attributed.
      li No use can in any way depict the model (if any) in a sensitive, unflattering, or controversial way.
      li No creation of derivative work
      li The license can be terminated by a one month written notice after the expiry of the first six months.
    unless token
      a.btn.btn-primary(href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_6MnivEyxNIcx1cNuyoGHc7u1dRcNevgW&scope=read_write") In order to enable license payments, please connect with Stripe
    else
      p You've authenticated via Stripe Connect as #{stripe_username}. You can create a license below:
      form#licenseInfo.form-horizontal(action="/register", method="POST")
        .form-group
          input(type="hidden", value="#{stripe_username}", name="id")
          label(for="imageInput") Image URL
          input.form-control#imageInput(type="text", name="url")
        .form-group
          label.sr-only(for="licensePrice") License Price (minimum 50 cents)
          .input-group
            .input-group-addon cents
            input#licensePrice.form-control(type="text", placeholder="Amount", name="amount")
        button.btn.btn-default Create
