extends ./header.jade
block content
  .container.starter-template
    p.lead Purchase a License
    if licenses
      for license in licenses
        img.img-responsive.margin-centering(src="#{license.image_url}")
        form.margin-centering(action="/purchase/#{license.id}")
          input.btn.btn-primary(type="submit", value="Purchase")
        br
