extends ./header.jade

block content
  .container.starter-template
    p.lead Purchase a License
    if licenses
      for license in licenses
        p #{license.image_url}
        img(src="#{license.image_url}")
        form(action="/charge", method="POST")
          article
            label
              span Amount is #{license.amount} cents
        script.stripe-button(src="https://checkout.stripe.com/checkout.js", data-key="license.owner_stripe_token", data-description="A Flask Charge", data-amount="#{license.amount}")
        br